*{
	margin:0;
	padding:0;
}

body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image:url(../images/Background.png);
    
}

h1{
    background-color:#4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#fff;
    text-align:center;
    height:48px;    
    display:inline-block;
    padding: 10px 10px 0px 10px;
}

h2{
    margin: 0 auto;
    color:#4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding-bottom:10px;
    border-bottom:solid;
    border-bottom-color:#ccc;
    border-bottom-width:2px;
}



.links{
    float:right;
    color:#ccc;
    font-size:18px;
    padding: 20px 0px 0px 0px;
}

#about{
    color:#ccc;
    text-decoration: none;
    padding-right:10px;
    border-right:solid;
    border-right-width:1px;
    border-right-color:#ddd;
}

#portfolio{
    color:#ccc;
    text-decoration: none;
    padding-right:10px;
    padding-left:6px;
    border-right:solid;
    border-right-width:1px;
    border-right-color:#ddd;
}



#contact{
    color:#ccc;
    text-decoration: none;
    padding-left:6px;
}



.content1{
    
    width:75%;
    margin: auto auto;
    margin-top:0px;
    padding: 0px;
    background-color:#fff;
       
}

.content2{
    
    width:75%;
    margin: auto auto;
    margin-top:0px;
    padding: 28px;
    padding-bottom:72px;
    background-color:#fff;
       
}

.content3{
    
    width:75%;
    margin: auto auto;
    padding: 28px;
    padding-bottom:20%;
    background-color:#fff;
       
}


footer{
    background-color:#333;
    padding-top:40px;
    width:100%;
    margin: auto auto;
    margin-top:0px;
    position:fixed;
    bottom:0;
    text-align:center;
    color:#ccc;
    font-size:12px;
    border-top:solid;
    border-top-color:#4aaaa5;
    border-top-width:6px;
}


header{
    background-color:#fff;
    border-bottom:solid;
    border-bottom-color:#ccc;
    border-bottom-width:2px;

}

p{
    line-height:1.5em;
    margin-left:10px;
    margin-bottom:5px;
    vertical-align:top;
    color:#666;
}

img{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.background{
    margin-top:40px;
    
}



#about:hover{
    color:#333;
   
}

#portfolio:hover{
    color:#333;
   
}

#contact:hover{
    color:#333;
   
}



.container1{
    margin: 10px 0px;
    margin-right:20px;
    position:relative;
    background-image:url(../images/Hangman.jpg);
    float:left;
    height:290px;
    width:250px;
    
}

.container2{
    margin: 10px 0px;
    margin-right:20px;
    position:relative;
    background-image:url(../images/RPG.jpg);
    float:left;
    height:290px;
    width:250px;

}

.container3{
    margin: 10px 0px;
    margin-right:20px;
    position:relative;
    background-image:url(../images/TriviaGame.jpg);
    float:left;
    height:290px;
    width:250px;

}

.container4{
    margin: 10px 0px;
    margin-right:20px;
    position:relative;
    background-image:url(../images/Rutgers.jpg);
    float:left;
    height:290px;
    width:250px;
}

.container5{
    margin: 10px 0px;
    position:relative;
    background-image:url(../images/RPS.jpg);
    background-repeat:no-repeat;
    float:left;
    height:290px;
    width:250px;
    
}

.box{
    position:absolute;
    bottom:10px;
    width:250px;
    color:#fff;
    background-color:#4aaaa5;
    font-size:24px;
    text-align:center;
    padding:10px 0px 10px 0px;
}

form{
    margin:10px;
    padding:10px;
}

input{
    width:100%;
    height:24px;
}

textarea{
    width:100%;
    height: 200px;
}

.button{
    height:40px;
    width:96px;
    background-color:#4aaaa5;
    color:#fff;
}

@media only screen and (max-width:960px){
    body{
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        background-image:url(../images/Background.png);
        
    }
    
    h1{
        background-color:#4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
        color:#fff;
        text-align:center;
        height:48px;    
        display:inline-block;
        padding: 10px 10px 0px 10px;
    }
    
    h2{
        margin: 0 auto;
        color:#4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
        padding-bottom:10px;
        border-bottom:solid;
        border-bottom-color:#ccc;
        border-bottom-width:2px;
    }
    
    
    
    .links{
        float:right;
        color:#ccc;
        font-size:18px;
        padding: 20px 0px 0px 0px;
    }
    
    #about{
        color:#ccc;
        text-decoration: none;
        padding-right:10px;
        border-right:solid;
        border-right-width:1px;
        border-right-color:#ddd;
    }
    
    #portfolio{
        color:#ccc;
        text-decoration: none;
        padding-right:10px;
        padding-left:6px;
        border-right:solid;
        border-right-width:1px;
        border-right-color:#ddd;
    }
    
    
    
    #contact{
        color:#ccc;
        text-decoration: none;
        padding-left:6px;
    }
    
    
    
    .content1{
        
        width:700px;
        margin: auto auto;
        margin-top:0px;
        padding: 0px;
        background-color:#fff;
           
    }
    
    .content2{
        
        width:700px;
        margin: auto auto;
        margin-top:0px;
        padding: 28px;
        padding-bottom:72px;
        background-color:#fff;
           
    }
    
    .content3{
        
        width:75%;
        margin: auto auto;
        padding: 28px;
        padding-bottom:20%;
        background-color:#fff;
           
    }
    
    
    footer{
        background-color:#333;
        padding-top:40px;
        width:100%;
        margin: auto auto;
        margin-top:0px;
        position:fixed;
        bottom:0;
        text-align:center;
        color:#ccc;
        font-size:12px;
        border-top:solid;
        border-top-color:#4aaaa5;
        border-top-width:6px;
    }
    
    
    header{
        background-color:#fff;
        border-bottom:solid;
        border-bottom-color:#ccc;
        border-bottom-width:2px;
    
    }
    
    p{
        line-height:1.5em;
        margin-left:10px;
        margin-bottom:5px;
        vertical-align:top;
        color:#666;
    }
    
    img{
        float:left;
        margin-right:10px;
        margin-bottom:10px;
    }
    
    .background{
        margin-top:40px;
        
    }
    
    
    
    #about:hover{
        color:#333;
       
    }
    
    #portfolio:hover{
        color:#333;
       
    }
    
    #contact:hover{
        color:#333;
       
    }
    
    
    
    .container1{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/Hangman.jpg);
        float:left;
        height:290px;
        width:250px;
        
    }
    
    .container2{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/RPG.jpg);
        float:left;
        height:290px;
        width:250px;
    
    }
    
    .container3{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/TriviaGame.jpg);
        float:left;
        height:290px;
        width:250px;
    
    }
    
    .container4{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/Rutgers.jpg);
        float:left;
        height:290px;
        width:250px;
    }
    
    .container5{
        margin: 10px 0px;
        position:relative;
        background-image:url(../images/RPS.jpg);
        background-repeat:no-repeat;
        float:left;
        height:290px;
        width:250px;
        
    }
    
    .box{
        position:absolute;
        bottom:10px;
        width:250px;
        color:#fff;
        background-color:#4aaaa5;
        font-size:24px;
        text-align:center;
        padding:10px 0px 10px 0px;
    }
    
    form{
        margin:10px;
        padding:10px;
    }
    
    input{
        width:100%;
        height:24px;
    }
    
    textarea{
        width:100%;
        height: 200px;
    }
    
    .button{
        height:40px;
        width:96px;
        background-color:#4aaaa5;
        color:#fff;
    }
}

@media only screen and (max-width:768px){
    body{
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        background-image:url(../images/Background.png);
        
    }
    
    h1{
        background-color:#4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
        color:#fff;
        text-align:center;
        height:48px;    
        display:inline-block;
        padding: 10px 10px 0px 10px;
    }
    
    h2{
        margin: 0 auto;
        color:#4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
        padding-bottom:10px;
        border-bottom:solid;
        border-bottom-color:#ccc;
        border-bottom-width:2px;
    }
    
    
    
    .links{
        float:right;
        color:#ccc;
        font-size:18px;
        padding: 20px 0px 0px 0px;
    }
    
    #about{
        color:#ccc;
        text-decoration: none;
        padding-right:10px;
        border-right:solid;
        border-right-width:1px;
        border-right-color:#ddd;
    }
    
    #portfolio{
        color:#ccc;
        text-decoration: none;
        padding-right:10px;
        padding-left:6px;
        border-right:solid;
        border-right-width:1px;
        border-right-color:#ddd;
    }
    
    
    
    #contact{
        color:#ccc;
        text-decoration: none;
        padding-left:6px;
    }
    
    
    
    .content1{
        
        width:90%;
        margin: auto auto;
        margin-top:0px;
        padding: 0px;
        background-color:#fff;
           
    }
    
    .content2{
        
        width:90%;
        margin: auto auto;
        margin-top:0px;
        padding: 28px;
        padding-bottom:72px;
        background-color:#fff;
           
    }
    
    .content3{
        
        width:75%;
        margin: auto auto;
        padding: 28px;
        padding-bottom:20%;
        background-color:#fff;
           
    }
    
    
    footer{
        background-color:#333;
        padding-top:40px;
        width:100%;
        margin: auto auto;
        margin-top:0px;
        position:fixed;
        bottom:0;
        text-align:center;
        color:#ccc;
        font-size:12px;
        border-top:solid;
        border-top-color:#4aaaa5;
        border-top-width:6px;
    }
    
    
    header{
        background-color:#fff;
        border-bottom:solid;
        border-bottom-color:#ccc;
        border-bottom-width:2px;
    
    }
    
    p{
        line-height:1.5em;
        margin-left:10px;
        margin-bottom:5px;
        vertical-align:top;
        color:#666;
    }
    
    img{
        float:left;
        margin-right:10px;
        margin-bottom:10px;
    }
    
    .background{
        margin-top:40px;
        
    }
    
    
    
    #about:hover{
        color:#333;
       
    }
    
    #portfolio:hover{
        color:#333;
       
    }
    
    #contact:hover{
        color:#333;
       
    }
    
    
    
    .container1{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/Hangman.jpg);
        float:left;
        height:290px;
        width:250px;
        
    }
    
    .container2{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/RPG.jpg);
        float:left;
        height:290px;
        width:250px;
    
    }
    
    .container3{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/TriviaGame.jpg);
        float:left;
        height:290px;
        width:250px;
    
    }
    
    .container4{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/Rutgers.jpg);
        float:left;
        height:290px;
        width:250px;
    }
    
    .container5{
        margin: 10px 0px;
        position:relative;
        background-image:url(../images/RPS.jpg);
        background-repeat:no-repeat;
        float:left;
        height:290px;
        width:250px;
        
    }
    
    .box{
        position:absolute;
        bottom:10px;
        width:250px;
        color:#fff;
        background-color:#4aaaa5;
        font-size:24px;
        text-align:center;
        padding:10px 0px 10px 0px;
    }
    
    form{
        margin:10px;
        padding:10px;
    }
    
    input{
        width:100%;
        height:24px;
    }
    
    textarea{
        width:100%;
        height: 200px;
    }
    
    .button{
        height:40px;
        width:96px;
        background-color:#4aaaa5;
        color:#fff;
    }
}

@media only screen and (max-width:640px){
        body{
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        background-image:url(../images/Background.png);
        
    }

    h1{
        background-color:#4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
        color:#fff;
        text-align:center;
        height:48px;    
        display:inline-block;
        width:100%;
        padding: 10px 10px 0px 10px;
    }

    h2{
        margin: 0 auto;
        color:#4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
        padding-bottom:10px;
        border-bottom:solid;
        border-bottom-color:#ccc;
        border-bottom-width:2px;
    }



    .links{
        
        color:#ccc;
        font-size:18px;
        padding: 10px 0px 10px 0px;
        background-color:#fff;
        width:100%;
        text-align:center;
    }

    #about{
        color:#ccc;
        text-decoration: none;
        padding-right:10px;
        border-right:solid;
        border-right-width:1px;
        border-right-color:#ddd;
    }

    #portfolio{
        color:#ccc;
        text-decoration: none;
        padding-right:10px;
        padding-left:6px;
        border-right:solid;
        border-right-width:1px;
        border-right-color:#ddd;
    }



    #contact{
        color:#ccc;
        text-decoration: none;
        padding-left:6px;
    }



    .content1{
        
        width:100%;
        margin: 0;
        padding: 0px;
       
        
    }

    .content2{
        
        width:552px;
        margin: auto auto;
        margin-top:0px;
        padding: 28px;
        padding-bottom:72px;
        background-color:#fff;
        
    }

    .content3{
        
        width:75%;
        margin: auto auto;
        padding: 28px;
        padding-bottom:20%;
        background-color:#fff;
        
    }


    footer{
        background-color:#333;
        padding-top:40px;
        width:100%;
        margin: auto auto;
        margin-top:0px;
        position:fixed;
        bottom:0;
        text-align:center;
        color:#ccc;
        font-size:12px;
        border-top:solid;
        border-top-color:#4aaaa5;
        border-top-width:6px;
    }


    header{
        background-color:#fff;
        border-bottom:solid;
        border-bottom-color:#ccc;
        border-bottom-width:2px;

    }

    p{
        line-height:1.5em;
        margin-left:10px;
        margin-bottom:5px;
        vertical-align:top;
        color:#666;
    }

   
    img{
        float:left;
        margin-right:10px;
        margin-bottom:10px;
    }

    .background{
        margin-top:60px;
        
    }



    #about:hover{
        color:#333;
    
    }

    #portfolio:hover{
        color:#333;
    
    }

    #contact:hover{
        color:#333;
    
    }



    .container1{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/Hangman.jpg);
        float:left;
        height:290px;
        width:250px;
        
    }

    .container2{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/RPG.jpg);
        float:left;
        height:290px;
        width:250px;

    }

    .container3{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/TriviaGame.jpg);
        float:left;
        height:290px;
        width:250px;

    }

    .container4{
        margin: 10px 0px;
        margin-right:20px;
        position:relative;
        background-image:url(../images/Rutgers.jpg);
        float:left;
        height:290px;
        width:250px;
    }

    .container5{
        margin: 10px 0px;
        position:relative;
        background-image:url(../images/RPS.jpg);
        background-repeat:no-repeat;
        float:left;
        height:290px;
        width:250px;
        
    }

    .box{
        position:absolute;
        bottom:10px;
        width:250px;
        color:#fff;
        background-color:#4aaaa5;
        font-size:24px;
        text-align:center;
        padding:10px 0px 10px 0px;
    }

    form{
        margin:10px;
        padding:0px;
    }

    input{
        width:100%;
        height:24px;
    }

    textarea{
        width:100%;
        height: 200px;
    }

    .button{
        height:40px;
        width:96px;
        background-color:#4aaaa5;
        color:#fff;
    }
}



